header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FF7020;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page-title-container .page-title {
    margin-left: 0.8em;
    margin-right: 1.5em;
    font-size: 2em;
    font-weight: bold;
    padding: 0;
    white-space: nowrap;
}

.navbar a {
    text-decoration: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.4em;
    padding: 1em;
    background-color: inherit;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
}

.navbar a:hover {
    color: #C3FCF1;
}

#login-signup a {
    display: inline-block;
    width: 80px;
    border: 2px solid white;
    border-radius: 1em;
    padding: 0.4em 2.2em;
    margin: 0.3em;
    text-align: center;
    line-height: 1em;
    text-decoration: none;
    font-size: 1.4em;
    white-space: nowrap;
    cursor: pointer;
}

.login-btn {
    background-color: transparent;
    color: white;
}

.signup-btn {
    background-color: white;
    color: black;
}