@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    background: linear-gradient(135deg, #f3f3f3 0%, #c8c8c8 100%);
}

#root {
    height: 100vh;
    width: 100%;
    font-family: Quicksand, serif;
    line-height: 1.5;
    font-weight: 400;
    color: #181818;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20vh;
}

.page-title {
    font-size: 5em;
    margin: 0;
}